    * {
        margin:0; padding:0;
        box-sizing:border-box;
    }
    
    body {
        background-color: hsl(0, 0%, 95%);
    }
    
    p {
        color: hsla(0, 0%, 100%, 0.75);
    }
    
    .container {
        margin: 3rem 1.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 0.3rem; 
        overflow:hidden;
    }
    
    h1 {
        color: hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', sans-serif;
    }
    
    button {
        background-color: hsl(0, 0%, 95%);
    }
    
    .card {
        padding: 2rem;
        font-family: 'Lexend Deca', sans-serif;
        
    }
    
    .card img {
        margin: 1.3rem 0 0 0 ;
    }
    
    .card h1 {
        margin: 2rem 0;
    }
    
    .card p {
        margin-bottom: 1.5rem;
    }
    
    .card button {
        padding: 0.8rem 1.3rem;
        outline: none;
        border: none;
        border-radius: 1.5rem;
        font-size: 15px;
        font-weight: 400;
        
    }
    
    
    
    .one {
        background-color: hsl(31, 77%, 52%);
    }
    .one button {
        color: hsl(31, 77%, 52%);
    }
    
    .two {
        background-color: hsl(184, 100%, 22%);
    }
    .two button {
        color: hsl(184, 100%, 22%);
    }
    
    .three {
        background-color: hsl(179, 100%, 13%);
    }
    .three button {
        color: hsl(179, 100%, 13%);
    }
    
    @media(min-width: 700px){
    .container {
        margin:3rem 6rem; }
    }
    
    @media (min-width: 1400px) {
        .container {
            flex-direction:row;
            align-items:center;
            height: 100vh;
            margin: 0 17rem;
            
        }
        .card button {
            margin: 3rem 0 1.5rem 0;
        }
    }